.items{
    margin: 10px;
    width: 800px;
    border: 1px dashed black;
    box-shadow: 0 0 10px;
}
.reviewer{
    text-align: right;
    color: blue;
}
.content{
    font-size: 25px;
    font-weight: 400;
}
.btn{
    margin-right: 10px;
    float: right;
}