.cmt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    text-align: center;
    color: red;
    font-weight: 400;
    text-shadow: 2px 0 2px;
}